


.hr_content{
  padding: 60px 0;
  margin: 0 auto;
  max-width: 1180px;
}

h1.home22-intro-title{
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  max-width: 780px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  justify-content: center;
  line-height: 1.2;
  color: #1F1F20;
  text-align: center;
  text-transform: none;
}

p.home22-intro-text{
  margin: 30px 280px 0px;
  color: #39424E;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

p.home22-intro-sign{
  height: 80px;
  margin: 32px 0px 0px;
  align-items: center;
}